* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#verification[open] {
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
  color: rgb(236, 227, 227);
  > button {
    width: 100px;
  }
}
.framephoto {
  width: 90vw;
  max-width: 300px;
  height: 120vw;
  max-height: 400px;
  /* aspect-ratio: 1/2; */
  background-image: url("./pictureframe.JPG");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.site__shell {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(52, 52, 52);
  color: rgb(236, 227, 227);
  overflow: scroll;
}

.artist__lp {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  background-color: rgb(52, 52, 52);
  color: rgb(236, 227, 227);
}

.block {
  width: 100%;
  padding: 1rem;
}
.spanblock {
  display: block;
}

@media only screen and (max-width: 800px) {
  .artist__lp {
    padding: 1rem 0px;
  }
  .block {
    padding: 1rem 0px;
  }
}
